MVC_SYSTEM/Service References/SAPPosting/document.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:n1="urn:sap-com:document:sap:rfc:functions" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation>
    <sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl" />
  </wsdl:documentation>
  <wsp:UsingPolicy wsdl:required="true" />
  <wsp:Policy wsu:Id="BN_ZWS_OPMS_DOCPOST">
    <saptrnbnd:OptimizedXMLTransfer uri="http://xml.sap.com/2006/11/esi/esp/binxml" xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/" wsp:Optional="true" />
    <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
    <wsp:ExactlyOne xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy" xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility">
      <wsp:All>
        <sp:TransportBinding>
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken>
                  <wsp:Policy>
                    <sp:HttpBasicAuthentication />
                  </wsp:Policy>
                </sp:HttpsToken>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:TripleDesRsa15 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="IF_ZWS_OPMS_DOCPOST">
    <sapsession:Session xmlns:sapsession="http://www.sap.com/webas/630/soap/features/session/">
      <sapsession:enableSession>false</sapsession:enableSession>
    </sapsession:Session>
    <sapcentraladmin:CentralAdministration xmlns:sapcentraladmin="http://www.sap.com/webas/700/soap/features/CentralAdministration/" wsp:Optional="true">
      <sapcentraladmin:BusinessApplicationID>E9A3B4A8AA126BF1A2C000505680F789</sapcentraladmin:BusinessApplicationID>
    </sapcentraladmin:CentralAdministration>
  </wsp:Policy>
  <wsp:Policy wsu:Id="OP_ZfmDocpostOpms">
    <sapcomhnd:enableCommit xmlns:sapcomhnd="http://www.sap.com/NW05/soap/features/commit/">false</sapcomhnd:enableCommit>
    <sapblock:enableBlocking xmlns:sapblock="http://www.sap.com/NW05/soap/features/blocking/">true</sapblock:enableBlocking>
    <saptrhnw05:required xmlns:saptrhnw05="http://www.sap.com/NW05/soap/features/transaction/">no</saptrhnw05:required>
    <saprmnw05:enableWSRM xmlns:saprmnw05="http://www.sap.com/NW05/soap/features/wsrm/">false</saprmnw05:enableWSRM>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema xmlns:tns="urn:sap-com:document:sap:rfc:functions" attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:rfc:functions">
      <xsd:simpleType name="byte16">
        <xsd:restriction base="xsd:base64Binary">
          <xsd:maxLength value="16" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char1">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="1" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char10">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="10" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char11">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="11" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char12">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="12" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char13">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="13" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char14">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="14" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char15">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="15" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char16">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="16" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char18">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="18" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char2">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="2" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char20">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="20" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char220">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="220" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char24">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="24" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char240">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="240" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char25">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="25" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char250">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="250" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char27">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="27" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char3">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="3" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char30">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="30" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char32">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="32" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char34">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="34" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char35">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="35" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char4">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="4" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char40">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="40" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char5">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="5" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char50">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="50" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char6">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="6" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char60">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="60" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char8">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="8" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="cuky5">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="5" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="date10">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="10" />
          <xsd:pattern value="\d\d\d\d-\d\d-\d\d" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="decimal23.4">
        <xsd:restriction base="xsd:decimal">
          <xsd:totalDigits value="23" />
          <xsd:fractionDigits value="4" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="decimal3.0">
        <xsd:restriction base="xsd:decimal">
          <xsd:totalDigits value="3" />
          <xsd:fractionDigits value="0" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="decimal5.3">
        <xsd:restriction base="xsd:decimal">
          <xsd:totalDigits value="5" />
          <xsd:fractionDigits value="3" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="decimal7.3">
        <xsd:restriction base="xsd:decimal">
          <xsd:totalDigits value="7" />
          <xsd:fractionDigits value="3" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="decimal9.5">
        <xsd:restriction base="xsd:decimal">
          <xsd:totalDigits value="9" />
          <xsd:fractionDigits value="5" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="decimal9.6">
        <xsd:restriction base="xsd:decimal">
          <xsd:totalDigits value="9" />
          <xsd:fractionDigits value="6" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="numeric10">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="10" />
          <xsd:pattern value="\d*" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="numeric2">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="2" />
          <xsd:pattern value="\d*" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="numeric3">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="3" />
          <xsd:pattern value="\d*" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="numeric4">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="4" />
          <xsd:pattern value="\d*" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="numeric5">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="5" />
          <xsd:pattern value="\d*" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="numeric6">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="6" />
          <xsd:pattern value="\d*" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="numeric8">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="8" />
          <xsd:pattern value="\d*" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="quantum13.3">
        <xsd:restriction base="xsd:decimal">
          <xsd:totalDigits value="13" />
          <xsd:fractionDigits value="3" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="quantum15.3">
        <xsd:restriction base="xsd:decimal">
          <xsd:totalDigits value="15" />
          <xsd:fractionDigits value="3" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="time">
        <xsd:restriction base="xsd:time">
          <xsd:pattern value="[0-9]{2}:[0-9]{2}:[0-9]{2}" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="unit3">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="3" />
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:schema>
    <xsd:schema xmlns:n0="urn:sap-com:document:sap:rfc:functions" attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style">
      <xsd:import namespace="urn:sap-com:document:sap:rfc:functions" />
      <xsd:complexType name="Bapiacgl09">
        <xsd:sequence>
          <xsd:element name="ItemnoAcc" type="n0:numeric10" />
          <xsd:element name="GlAccount" type="n0:char10" />
          <xsd:element name="ItemText" type="n0:char50" />
          <xsd:element name="StatCon" type="n0:char1" />
          <xsd:element name="LogProc" type="n0:char6" />
          <xsd:element name="AcDocNo" type="n0:char10" />
          <xsd:element name="RefKey1" type="n0:char12" />
          <xsd:element name="RefKey2" type="n0:char12" />
          <xsd:element name="RefKey3" type="n0:char20" />
          <xsd:element name="AcctKey" type="n0:char3" />
          <xsd:element name="AcctType" type="n0:char1" />
          <xsd:element name="DocType" type="n0:char2" />
          <xsd:element name="CompCode" type="n0:char4" />
          <xsd:element name="BusArea" type="n0:char4" />
          <xsd:element name="FuncArea" type="n0:char4" />
          <xsd:element name="Plant" type="n0:char4" />
          <xsd:element name="FisPeriod" type="n0:numeric2" />
          <xsd:element name="FiscYear" type="n0:numeric4" />
          <xsd:element name="PstngDate" type="n0:date10" />
          <xsd:element name="ValueDate" type="n0:date10" />
          <xsd:element name="FmArea" type="n0:char4" />
          <xsd:element name="Customer" type="n0:char10" />
          <xsd:element name="CshdisInd" type="n0:char1" />
          <xsd:element name="VendorNo" type="n0:char10" />
          <xsd:element name="AllocNmbr" type="n0:char18" />
          <xsd:element name="TaxCode" type="n0:char2" />
          <xsd:element name="Taxjurcode" type="n0:char15" />
          <xsd:element name="ExtObjectId" type="n0:char34" />
          <xsd:element name="BusScenario" type="n0:char16" />
          <xsd:element name="Costobject" type="n0:char12" />
          <xsd:element name="Costcenter" type="n0:char10" />
          <xsd:element name="Acttype" type="n0:char6" />
          <xsd:element name="ProfitCtr" type="n0:char10" />
          <xsd:element name="PartPrctr" type="n0:char10" />
          <xsd:element name="Network" type="n0:char12" />
          <xsd:element name="WbsElement" type="n0:char24" />
          <xsd:element name="Orderid" type="n0:char12" />
          <xsd:element name="OrderItno" type="n0:numeric4" />
          <xsd:element name="RoutingNo" type="n0:numeric10" />
          <xsd:element name="Activity" type="n0:char4" />
          <xsd:element name="CondType" type="n0:char4" />
          <xsd:element name="CondCount" type="n0:numeric2" />
          <xsd:element name="CondStNo" type="n0:numeric3" />
          <xsd:element name="Fund" type="n0:char10" />
          <xsd:element name="FundsCtr" type="n0:char16" />
          <xsd:element name="CmmtItem" type="n0:char14" />
          <xsd:element name="CoBusproc" type="n0:char12" />
          <xsd:element name="AssetNo" type="n0:char12" />
          <xsd:element name="SubNumber" type="n0:char4" />
          <xsd:element name="BillType" type="n0:char4" />
          <xsd:element name="SalesOrd" type="n0:char10" />
          <xsd:element name="SOrdItem" type="n0:numeric6" />
          <xsd:element name="DistrChan" type="n0:char2" />
          <xsd:element name="Division" type="n0:char2" />
          <xsd:element name="Salesorg" type="n0:char4" />
          <xsd:element name="SalesGrp" type="n0:char3" />
          <xsd:element name="SalesOff" type="n0:char4" />
          <xsd:element name="SoldTo" type="n0:char10" />
          <xsd:element name="DeCreInd" type="n0:char1" />
          <xsd:element name="PElPrctr" type="n0:char10" />
          <xsd:element name="Xmfrw" type="n0:char1" />
          <xsd:element name="Quantity" type="n0:quantum13.3" />
          <xsd:element name="BaseUom" type="n0:unit3" />
          <xsd:element name="BaseUomIso" type="n0:char3" />
          <xsd:element name="InvQty" type="n0:quantum13.3" />
          <xsd:element name="InvQtySu" type="n0:quantum13.3" />
          <xsd:element name="SalesUnit" type="n0:unit3" />
          <xsd:element name="SalesUnitIso" type="n0:char3" />
          <xsd:element name="PoPrQnt" type="n0:quantum13.3" />
          <xsd:element name="PoPrUom" type="n0:unit3" />
          <xsd:element name="PoPrUomIso" type="n0:char3" />
          <xsd:element name="EntryQnt" type="n0:quantum13.3" />
          <xsd:element name="EntryUom" type="n0:unit3" />
          <xsd:element name="EntryUomIso" type="n0:char3" />
          <xsd:element name="Volume" type="n0:quantum15.3" />
          <xsd:element name="Volumeunit" type="n0:unit3" />
          <xsd:element name="VolumeunitIso" type="n0:char3" />
          <xsd:element name="GrossWt" type="n0:quantum15.3" />
          <xsd:element name="NetWeight" type="n0:quantum15.3" />
          <xsd:element name="UnitOfWt" type="n0:unit3" />
          <xsd:element name="UnitOfWtIso" type="n0:char3" />
          <xsd:element name="ItemCat" type="n0:char1" />
          <xsd:element name="Material" type="n0:char18" />
          <xsd:element name="MatlType" type="n0:char4" />
          <xsd:element name="MvtInd" type="n0:char1" />
          <xsd:element name="RevalInd" type="n0:char1" />
          <xsd:element name="OrigGroup" type="n0:char4" />
          <xsd:element name="OrigMat" type="n0:char1" />
          <xsd:element name="SerialNo" type="n0:numeric2" />
          <xsd:element name="PartAcct" type="n0:char10" />
          <xsd:element name="TrPartBa" type="n0:char4" />
          <xsd:element name="TradeId" type="n0:char6" />
          <xsd:element name="ValArea" type="n0:char4" />
          <xsd:element name="ValType" type="n0:char10" />
          <xsd:element name="AsvalDate" type="n0:date10" />
          <xsd:element name="PoNumber" type="n0:char10" />
          <xsd:element name="PoItem" type="n0:numeric5" />
          <xsd:element name="ItmNumber" type="n0:numeric6" />
          <xsd:element name="CondCategory" type="n0:char1" />
          <xsd:element name="FuncAreaLong" type="n0:char16" />
          <xsd:element name="CmmtItemLong" type="n0:char24" />
          <xsd:element name="GrantNbr" type="n0:char20" />
          <xsd:element name="CsTransT" type="n0:char3" />
          <xsd:element name="Measure" type="n0:char24" />
          <xsd:element name="Segment" type="n0:char10" />
          <xsd:element name="PartnerSegment" type="n0:char10" />
          <xsd:element name="ResDoc" type="n0:char10" />
          <xsd:element name="ResItem" type="n0:numeric3" />
          <xsd:element name="BillingPeriodStartDate" type="n0:date10" />
          <xsd:element name="BillingPeriodEndDate" type="n0:date10" />
          <xsd:element name="PpaExInd" type="n0:char1" />
          <xsd:element name="Fastpay" type="n0:char1" />
          <xsd:element name="PartnerGrantNbr" type="n0:char20" />
          <xsd:element name="BudgetPeriod" type="n0:char10" />
          <xsd:element name="PartnerBudgetPeriod" type="n0:char10" />
          <xsd:element name="PartnerFund" type="n0:char10" />
          <xsd:element name="ItemnoTax" type="n0:numeric6" />
          <xsd:element name="PaymentType" type="n0:char4" />
          <xsd:element name="ExpenseType" type="n0:char4" />
          <xsd:element name="ProgramProfile" type="n0:char10" />
          <xsd:element name="MaterialLong" type="n0:char40" />
          <xsd:element name="Housebankid" type="n0:char5" />
          <xsd:element name="Housebankacctid" type="n0:char5" />
          <xsd:element name="PersonNo" type="n0:numeric8" />
          <xsd:element name="AcrobjType" type="n0:char4" />
          <xsd:element name="AcrobjId" type="n0:char32" />
          <xsd:element name="AcrsubobjId" type="n0:char32" />
          <xsd:element name="AcritemType" type="n0:char11" />
          <xsd:element name="Valobjtype" type="n0:char4" />
          <xsd:element name="ValobjId" type="n0:char32" />
          <xsd:element name="ValsubobjId" type="n0:char32" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Bapiacap09">
        <xsd:sequence>
          <xsd:element name="ItemnoAcc" type="n0:numeric10" />
          <xsd:element name="VendorNo" type="n0:char10" />
          <xsd:element name="GlAccount" type="n0:char10" />
          <xsd:element name="RefKey1" type="n0:char12" />
          <xsd:element name="RefKey2" type="n0:char12" />
          <xsd:element name="RefKey3" type="n0:char20" />
          <xsd:element name="CompCode" type="n0:char4" />
          <xsd:element name="BusArea" type="n0:char4" />
          <xsd:element name="Pmnttrms" type="n0:char4" />
          <xsd:element name="BlineDate" type="n0:date10" />
          <xsd:element name="DsctDays1" type="n0:decimal3.0" />
          <xsd:element name="DsctDays2" type="n0:decimal3.0" />
          <xsd:element name="Netterms" type="n0:decimal3.0" />
          <xsd:element name="DsctPct1" type="n0:decimal5.3" />
          <xsd:element name="DsctPct2" type="n0:decimal5.3" />
          <xsd:element name="PymtMeth" type="n0:char1" />
          <xsd:element name="Pmtmthsupl" type="n0:char2" />
          <xsd:element name="PmntBlock" type="n0:char1" />
          <xsd:element name="ScbankInd" type="n0:char3" />
          <xsd:element name="Supcountry" type="n0:char3" />
          <xsd:element name="SupcountryIso" type="n0:char2" />
          <xsd:element name="BllsrvInd" type="n0:char1" />
          <xsd:element name="AllocNmbr" type="n0:char18" />
          <xsd:element name="ItemText" type="n0:char50" />
          <xsd:element name="PoSubNo" type="n0:char11" />
          <xsd:element name="PoCheckdg" type="n0:char2" />
          <xsd:element name="PoRefNo" type="n0:char27" />
          <xsd:element name="WTaxCode" type="n0:char2" />
          <xsd:element name="Businessplace" type="n0:char4" />
          <xsd:element name="Sectioncode" type="n0:char4" />
          <xsd:element name="Instr1" type="n0:numeric2" />
          <xsd:element name="Instr2" type="n0:numeric2" />
          <xsd:element name="Instr3" type="n0:numeric2" />
          <xsd:element name="Instr4" type="n0:numeric2" />
          <xsd:element name="Branch" type="n0:char10" />
          <xsd:element name="PymtCur" type="n0:cuky5" />
          <xsd:element name="PymtAmt" type="n0:decimal23.4" />
          <xsd:element name="PymtCurIso" type="n0:char3" />
          <xsd:element name="SpGlInd" type="n0:char1" />
          <xsd:element name="TaxCode" type="n0:char2" />
          <xsd:element name="TaxDate" type="n0:date10" />
          <xsd:element name="Taxjurcode" type="n0:char15" />
          <xsd:element name="AltPayee" type="n0:char10" />
          <xsd:element name="AltPayeeBank" type="n0:char4" />
          <xsd:element name="PartnerBk" type="n0:char4" />
          <xsd:element name="BankId" type="n0:char5" />
          <xsd:element name="PartnerGuid" type="n0:char32" />
          <xsd:element name="ProfitCtr" type="n0:char10" />
          <xsd:element name="Fund" type="n0:char10" />
          <xsd:element name="GrantNbr" type="n0:char20" />
          <xsd:element name="Measure" type="n0:char24" />
          <xsd:element name="Housebankacctid" type="n0:char5" />
          <xsd:element name="BudgetPeriod" type="n0:char10" />
          <xsd:element name="PpaExInd" type="n0:char1" />
          <xsd:element name="PartBusinessplace" type="n0:char5" />
          <xsd:element name="PaymtRef" type="n0:char30" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Bapiacar09">
        <xsd:sequence>
          <xsd:element name="ItemnoAcc" type="n0:numeric10" />
          <xsd:element name="Customer" type="n0:char10" />
          <xsd:element name="GlAccount" type="n0:char10" />
          <xsd:element name="RefKey1" type="n0:char12" />
          <xsd:element name="RefKey2" type="n0:char12" />
          <xsd:element name="RefKey3" type="n0:char20" />
          <xsd:element name="CompCode" type="n0:char4" />
          <xsd:element name="BusArea" type="n0:char4" />
          <xsd:element name="Pmnttrms" type="n0:char4" />
          <xsd:element name="BlineDate" type="n0:date10" />
          <xsd:element name="DsctDays1" type="n0:decimal3.0" />
          <xsd:element name="DsctDays2" type="n0:decimal3.0" />
          <xsd:element name="Netterms" type="n0:decimal3.0" />
          <xsd:element name="DsctPct1" type="n0:decimal5.3" />
          <xsd:element name="DsctPct2" type="n0:decimal5.3" />
          <xsd:element name="PymtMeth" type="n0:char1" />
          <xsd:element name="Pmtmthsupl" type="n0:char2" />
          <xsd:element name="PaymtRef" type="n0:char30" />
          <xsd:element name="DunnKey" type="n0:char1" />
          <xsd:element name="DunnBlock" type="n0:char1" />
          <xsd:element name="PmntBlock" type="n0:char1" />
          <xsd:element name="VatRegNo" type="n0:char20" />
          <xsd:element name="AllocNmbr" type="n0:char18" />
          <xsd:element name="ItemText" type="n0:char50" />
          <xsd:element name="PartnerBk" type="n0:char4" />
          <xsd:element name="ScbankInd" type="n0:char3" />
          <xsd:element name="Businessplace" type="n0:char4" />
          <xsd:element name="Sectioncode" type="n0:char4" />
          <xsd:element name="Branch" type="n0:char10" />
          <xsd:element name="PymtCur" type="n0:cuky5" />
          <xsd:element name="PymtCurIso" type="n0:char3" />
          <xsd:element name="PymtAmt" type="n0:decimal23.4" />
          <xsd:element name="CCtrArea" type="n0:char4" />
          <xsd:element name="BankId" type="n0:char5" />
          <xsd:element name="Supcountry" type="n0:char3" />
          <xsd:element name="SupcountryIso" type="n0:char2" />
          <xsd:element name="TaxCode" type="n0:char2" />
          <xsd:element name="Taxjurcode" type="n0:char15" />
          <xsd:element name="TaxDate" type="n0:date10" />
          <xsd:element name="SpGlInd" type="n0:char1" />
          <xsd:element name="PartnerGuid" type="n0:char32" />
          <xsd:element name="AltPayee" type="n0:char10" />
          <xsd:element name="AltPayeeBank" type="n0:char4" />
          <xsd:element name="DunnArea" type="n0:char2" />
          <xsd:element name="CaseGuid" type="n0:char32" />
          <xsd:element name="ProfitCtr" type="n0:char10" />
          <xsd:element name="Fund" type="n0:char10" />
          <xsd:element name="GrantNbr" type="n0:char20" />
          <xsd:element name="Measure" type="n0:char24" />
          <xsd:element name="Housebankacctid" type="n0:char5" />
          <xsd:element name="ResDoc" type="n0:char10" />
          <xsd:element name="ResItem" type="n0:numeric3" />
          <xsd:element name="FundLong" type="n0:char20" />
          <xsd:element name="DisputeIfType" type="n0:char1" />
          <xsd:element name="BudgetPeriod" type="n0:char10" />
          <xsd:element name="PaysProv" type="n0:char4" />
          <xsd:element name="PaysTran" type="n0:char35" />
          <xsd:element name="SepaMandateId" type="n0:char35" />
          <xsd:element name="PartBusinessplace" type="n0:char5" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Bapiactx09">
        <xsd:sequence>
          <xsd:element name="ItemnoAcc" type="n0:numeric10" />
          <xsd:element name="GlAccount" type="n0:char10" />
          <xsd:element name="CondKey" type="n0:char4" />
          <xsd:element name="AcctKey" type="n0:char3" />
          <xsd:element name="TaxCode" type="n0:char2" />
          <xsd:element name="TaxRate" type="n0:decimal7.3" />
          <xsd:element name="TaxDate" type="n0:date10" />
          <xsd:element name="Taxjurcode" type="n0:char15" />
          <xsd:element name="TaxjurcodeDeep" type="n0:char15" />
          <xsd:element name="TaxjurcodeLevel" type="n0:char1" />
          <xsd:element name="ItemnoTax" type="n0:numeric6" />
          <xsd:element name="DirectTax" type="n0:char1" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Bapiacwt09">
        <xsd:sequence>
          <xsd:element name="ItemnoAcc" type="n0:numeric10" />
          <xsd:element name="WtType" type="n0:char2" />
          <xsd:element name="WtCode" type="n0:char2" />
          <xsd:element name="BasAmtLc" type="n0:decimal23.4" />
          <xsd:element name="BasAmtTc" type="n0:decimal23.4" />
          <xsd:element name="BasAmtL2" type="n0:decimal23.4" />
          <xsd:element name="BasAmtL3" type="n0:decimal23.4" />
          <xsd:element name="ManAmtLc" type="n0:decimal23.4" />
          <xsd:element name="ManAmtTc" type="n0:decimal23.4" />
          <xsd:element name="ManAmtL2" type="n0:decimal23.4" />
          <xsd:element name="ManAmtL3" type="n0:decimal23.4" />
          <xsd:element name="AwhAmtLc" type="n0:decimal23.4" />
          <xsd:element name="AwhAmtTc" type="n0:decimal23.4" />
          <xsd:element name="AwhAmtL2" type="n0:decimal23.4" />
          <xsd:element name="AwhAmtL3" type="n0:decimal23.4" />
          <xsd:element name="BasAmtInd" type="n0:char1" />
          <xsd:element name="ManAmtInd" type="n0:char1" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Bapiaccahd">
        <xsd:sequence>
          <xsd:element name="DocNo" type="n0:char12" />
          <xsd:element name="DocTypeCa" type="n0:char2" />
          <xsd:element name="ResKey" type="n0:char30" />
          <xsd:element name="Fikey" type="n0:char12" />
          <xsd:element name="PaymentFormRef" type="n0:char30" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Bapiaccait">
        <xsd:sequence>
          <xsd:element name="ItemnoAcc" type="n0:numeric10" />
          <xsd:element name="ContAcct" type="n0:char12" />
          <xsd:element name="MainTrans" type="n0:char4" />
          <xsd:element name="SubTrans" type="n0:char4" />
          <xsd:element name="FuncArea" type="n0:char4" />
          <xsd:element name="FmArea" type="n0:char4" />
          <xsd:element name="CmmtItem" type="n0:char14" />
          <xsd:element name="FundsCtr" type="n0:char16" />
          <xsd:element name="Fund" type="n0:char10" />
          <xsd:element name="AgreementGuid" type="n0:byte16" />
          <xsd:element name="FuncAreaLong" type="n0:char16" />
          <xsd:element name="CmmtItemLong" type="n0:char24" />
          <xsd:element name="GrantNbr" type="n0:char20" />
          <xsd:element name="Vtref" type="n0:char20" />
          <xsd:element name="VtrefGuid" type="n0:byte16" />
          <xsd:element name="ExtObjectId" type="n0:char34" />
          <xsd:element name="BusScenario" type="n0:char16" />
          <xsd:element name="ReferenceNo" type="n0:char16" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Bapiackec9">
        <xsd:sequence>
          <xsd:element name="ItemnoAcc" type="n0:numeric10" />
          <xsd:element name="Fieldname" type="n0:char30" />
          <xsd:element name="Character" type="n0:char18" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Bapiaccr09">
        <xsd:sequence>
          <xsd:element name="ItemnoAcc" type="n0:numeric10" />
          <xsd:element name="CurrType" type="n0:char2" />
          <xsd:element name="Currency" type="n0:cuky5" />
          <xsd:element name="CurrencyIso" type="n0:char3" />
          <xsd:element name="AmtDoccur" type="n0:decimal23.4" />
          <xsd:element name="ExchRate" type="n0:decimal9.5" />
          <xsd:element name="ExchRateV" type="n0:decimal9.5" />
          <xsd:element name="AmtBase" type="n0:decimal23.4" />
          <xsd:element name="DiscBase" type="n0:decimal23.4" />
          <xsd:element name="DiscAmt" type="n0:decimal23.4" />
          <xsd:element name="TaxAmt" type="n0:decimal23.4" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Bapiacpa09">
        <xsd:sequence>
          <xsd:element name="Name" type="n0:char35" />
          <xsd:element name="Name2" type="n0:char35" />
          <xsd:element name="Name3" type="n0:char35" />
          <xsd:element name="Name4" type="n0:char35" />
          <xsd:element name="PostlCode" type="n0:char10" />
          <xsd:element name="City" type="n0:char35" />
          <xsd:element name="Country" type="n0:char3" />
          <xsd:element name="CountryIso" type="n0:char2" />
          <xsd:element name="Street" type="n0:char35" />
          <xsd:element name="PoBox" type="n0:char10" />
          <xsd:element name="PobxPcd" type="n0:char10" />
          <xsd:element name="PobkCurac" type="n0:char16" />
          <xsd:element name="BankAcct" type="n0:char18" />
          <xsd:element name="BankNo" type="n0:char15" />
          <xsd:element name="BankCtry" type="n0:char3" />
          <xsd:element name="BankCtryIso" type="n0:char2" />
          <xsd:element name="TaxNo1" type="n0:char16" />
          <xsd:element name="TaxNo2" type="n0:char11" />
          <xsd:element name="Tax" type="n0:char1" />
          <xsd:element name="EqualTax" type="n0:char1" />
          <xsd:element name="Region" type="n0:char3" />
          <xsd:element name="CtrlKey" type="n0:char2" />
          <xsd:element name="InstrKey" type="n0:char2" />
          <xsd:element name="DmeInd" type="n0:char1" />
          <xsd:element name="LanguIso" type="n0:char2" />
          <xsd:element name="Iban" type="n0:char34" />
          <xsd:element name="SwiftCode" type="n0:char11" />
          <xsd:element name="TaxNo3" type="n0:char18" />
          <xsd:element name="TaxNo4" type="n0:char18" />
          <xsd:element name="Title" type="n0:char15" />
          <xsd:element name="TaxNo5" type="n0:char60" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Bapiache09">
        <xsd:sequence>
          <xsd:element name="ObjType" type="n0:char5" />
          <xsd:element name="ObjKey" type="n0:char20" />
          <xsd:element name="ObjSys" type="n0:char10" />
          <xsd:element name="BusAct" type="n0:char4" />
          <xsd:element name="Username" type="n0:char12" />
          <xsd:element name="HeaderTxt" type="n0:char25" />
          <xsd:element name="CompCode" type="n0:char4" />
          <xsd:element name="DocDate" type="n0:date10" />
          <xsd:element name="PstngDate" type="n0:date10" />
          <xsd:element name="TransDate" type="n0:date10" />
          <xsd:element name="FiscYear" type="n0:numeric4" />
          <xsd:element name="FisPeriod" type="n0:numeric2" />
          <xsd:element name="DocType" type="n0:char2" />
          <xsd:element name="RefDocNo" type="n0:char16" />
          <xsd:element name="AcDocNo" type="n0:char10" />
          <xsd:element name="ObjKeyR" type="n0:char20" />
          <xsd:element name="ReasonRev" type="n0:char2" />
          <xsd:element name="CompoAcc" type="n0:char4" />
          <xsd:element name="RefDocNoLong" type="n0:char35" />
          <xsd:element name="AccPrinciple" type="n0:char4" />
          <xsd:element name="NegPostng" type="n0:char1" />
          <xsd:element name="ObjKeyInv" type="n0:char20" />
          <xsd:element name="BillCategory" type="n0:char1" />
          <xsd:element name="Vatdate" type="n0:date10" />
          <xsd:element name="InvoiceRecDate" type="n0:date10" />
          <xsd:element name="EcsEnv" type="n0:char10" />
          <xsd:element name="PartialRev" type="n0:char1" />
          <xsd:element name="DocStatus" type="n0:char1" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Bapiacextc">
        <xsd:sequence>
          <xsd:element name="Field1" type="n0:char250" />
          <xsd:element name="Field2" type="n0:char250" />
          <xsd:element name="Field3" type="n0:char250" />
          <xsd:element name="Field4" type="n0:char250" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Bapiparex">
        <xsd:sequence>
          <xsd:element name="Structure" type="n0:char30" />
          <xsd:element name="Valuepart1" type="n0:char240" />
          <xsd:element name="Valuepart2" type="n0:char240" />
          <xsd:element name="Valuepart3" type="n0:char240" />
          <xsd:element name="Valuepart4" type="n0:char240" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Bapiacpc09">
        <xsd:sequence>
          <xsd:element name="ItemnoAcc" type="n0:numeric10" />
          <xsd:element name="CcGlaccount" type="n0:char10" />
          <xsd:element name="CcType" type="n0:char4" />
          <xsd:element name="CcNumber" type="n0:char25" />
          <xsd:element name="CcSeqNo" type="n0:char10" />
          <xsd:element name="CcValidF" type="n0:date10" />
          <xsd:element name="CcValidT" type="n0:date10" />
          <xsd:element name="CcName" type="n0:char40" />
          <xsd:element name="Dataorigin" type="n0:char1" />
          <xsd:element name="Authamount" type="n0:decimal23.4" />
          <xsd:element name="Currency" type="n0:cuky5" />
          <xsd:element name="CurrencyIso" type="n0:char3" />
          <xsd:element name="CcAutthNo" type="n0:char10" />
          <xsd:element name="AuthRefno" type="n0:char15" />
          <xsd:element name="AuthDate" type="n0:date10" />
          <xsd:element name="AuthTime" type="n0:time" />
          <xsd:element name="Merchidcl" type="n0:char15" />
          <xsd:element name="PointOfReceipt" type="n0:char10" />
          <xsd:element name="Terminal" type="n0:char10" />
          <xsd:element name="Cctyp" type="n0:char2" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Bapiacre09">
        <xsd:sequence>
          <xsd:element name="ItemnoAcc" type="n0:numeric10" />
          <xsd:element name="BusinessEntity" type="n0:char8" />
          <xsd:element name="Building" type="n0:char8" />
          <xsd:element name="Property" type="n0:char8" />
          <xsd:element name="RentalObject" type="n0:char8" />
          <xsd:element name="ServChargeKey" type="n0:char4" />
          <xsd:element name="SettlementUnit" type="n0:char5" />
          <xsd:element name="ContractNo" type="n0:char13" />
          <xsd:element name="FlowType" type="n0:char4" />
          <xsd:element name="CorrItem" type="n0:char10" />
          <xsd:element name="RefDate" type="n0:date10" />
          <xsd:element name="OptionRate" type="n0:decimal9.6" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Bapiret2">
        <xsd:sequence>
          <xsd:element name="Type" type="n0:char1" />
          <xsd:element name="Id" type="n0:char20" />
          <xsd:element name="Number" type="n0:numeric3" />
          <xsd:element name="Message" type="n0:char220" />
          <xsd:element name="LogNo" type="n0:char20" />
          <xsd:element name="LogMsgNo" type="n0:numeric6" />
          <xsd:element name="MessageV1" type="n0:char50" />
          <xsd:element name="MessageV2" type="n0:char50" />
          <xsd:element name="MessageV3" type="n0:char50" />
          <xsd:element name="MessageV4" type="n0:char50" />
          <xsd:element name="Parameter" type="n0:char32" />
          <xsd:element name="Row" type="xsd:int" />
          <xsd:element name="Field" type="n0:char30" />
          <xsd:element name="System" type="n0:char10" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Bapiackev9">
        <xsd:sequence>
          <xsd:element name="ItemnoAcc" type="n0:numeric10" />
          <xsd:element name="Fieldname" type="n0:char30" />
          <xsd:element name="CurrType" type="n0:char2" />
          <xsd:element name="Currency" type="n0:cuky5" />
          <xsd:element name="CurrencyIso" type="n0:char3" />
          <xsd:element name="AmtValcom" type="n0:decimal23.4" />
          <xsd:element name="BaseUom" type="n0:unit3" />
          <xsd:element name="BaseUomIso" type="n0:char3" />
          <xsd:element name="QuaValcom" type="n0:quantum15.3" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TableOfBapiacgl09">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:Bapiacgl09" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TableOfBapiacap09">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:Bapiacap09" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TableOfBapiacar09">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:Bapiacar09" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TableOfBapiactx09">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:Bapiactx09" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TableOfBapiacwt09">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:Bapiacwt09" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TableOfBapiaccait">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:Bapiaccait" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TableOfBapiackec9">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:Bapiackec9" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TableOfBapiaccr09">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:Bapiaccr09" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TableOfBapiacextc">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:Bapiacextc" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TableOfBapiparex">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:Bapiparex" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TableOfBapiacpc09">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:Bapiacpc09" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TableOfBapiacre09">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:Bapiacre09" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TableOfBapiret2">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:Bapiret2" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TableOfBapiackev9">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:Bapiackev9" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="ZfmDocpostOpms">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="Accountgl" type="tns:TableOfBapiacgl09" />
            <xsd:element minOccurs="0" name="Accountpayable" type="tns:TableOfBapiacap09" />
            <xsd:element minOccurs="0" name="Accountreceivable" type="tns:TableOfBapiacar09" />
            <xsd:element minOccurs="0" name="Accounttax" type="tns:TableOfBapiactx09" />
            <xsd:element minOccurs="0" name="Accountwt" type="tns:TableOfBapiacwt09" />
            <xsd:element minOccurs="0" name="Contractheader" type="tns:Bapiaccahd" />
            <xsd:element minOccurs="0" name="Contractitem" type="tns:TableOfBapiaccait" />
            <xsd:element minOccurs="0" name="Criteria" type="tns:TableOfBapiackec9" />
            <xsd:element name="Currencyamount" type="tns:TableOfBapiaccr09" />
            <xsd:element minOccurs="0" name="Customercpd" type="tns:Bapiacpa09" />
            <xsd:element name="Documentheader" type="tns:Bapiache09" />
            <xsd:element minOccurs="0" name="Extension1" type="tns:TableOfBapiacextc" />
            <xsd:element minOccurs="0" name="Extension2" type="tns:TableOfBapiparex" />
            <xsd:element minOccurs="0" name="Paymentcard" type="tns:TableOfBapiacpc09" />
            <xsd:element minOccurs="0" name="Realestate" type="tns:TableOfBapiacre09" />
            <xsd:element name="Return" type="tns:TableOfBapiret2" />
            <xsd:element minOccurs="0" name="Trdchk" type="n0:char1" />
            <xsd:element minOccurs="0" name="Valuefield" type="tns:TableOfBapiackev9" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ZfmDocpostOpmsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="Accountgl" type="tns:TableOfBapiacgl09" />
            <xsd:element minOccurs="0" name="Accountpayable" type="tns:TableOfBapiacap09" />
            <xsd:element minOccurs="0" name="Accountreceivable" type="tns:TableOfBapiacar09" />
            <xsd:element minOccurs="0" name="Accounttax" type="tns:TableOfBapiactx09" />
            <xsd:element minOccurs="0" name="Accountwt" type="tns:TableOfBapiacwt09" />
            <xsd:element minOccurs="0" name="Contractitem" type="tns:TableOfBapiaccait" />
            <xsd:element minOccurs="0" name="Criteria" type="tns:TableOfBapiackec9" />
            <xsd:element name="Currencyamount" type="tns:TableOfBapiaccr09" />
            <xsd:element minOccurs="0" name="Extension1" type="tns:TableOfBapiacextc" />
            <xsd:element minOccurs="0" name="Extension2" type="tns:TableOfBapiparex" />
            <xsd:element name="ObjKey" type="n0:char20" />
            <xsd:element name="ObjSys" type="n0:char10" />
            <xsd:element name="ObjType" type="n0:char5" />
            <xsd:element minOccurs="0" name="Paymentcard" type="tns:TableOfBapiacpc09" />
            <xsd:element minOccurs="0" name="Realestate" type="tns:TableOfBapiacre09" />
            <xsd:element name="Return" type="tns:TableOfBapiret2" />
            <xsd:element minOccurs="0" name="Valuefield" type="tns:TableOfBapiackev9" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ZfmDocpostOpms">
    <wsdl:part name="parameters" element="tns:ZfmDocpostOpms" />
  </wsdl:message>
  <wsdl:message name="ZfmDocpostOpmsResponse">
    <wsdl:part name="parameter" element="tns:ZfmDocpostOpmsResponse" />
  </wsdl:message>
  <wsdl:portType name="ZWS_OPMS_DOCPOST">
    <wsp:Policy>
      <wsp:PolicyReference URI="#IF_ZWS_OPMS_DOCPOST" />
    </wsp:Policy>
    <wsdl:operation name="ZfmDocpostOpms">
      <wsp:Policy>
        <wsp:PolicyReference URI="#OP_ZfmDocpostOpms" />
      </wsp:Policy>
      <wsdl:input message="tns:ZfmDocpostOpms" />
      <wsdl:output message="tns:ZfmDocpostOpmsResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ZWS_OPMS_DOCPOST" type="tns:ZWS_OPMS_DOCPOST">
    <wsp:Policy>
      <wsp:PolicyReference URI="#BN_ZWS_OPMS_DOCPOST" />
    </wsp:Policy>
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ZfmDocpostOpms">
      <soap:operation soapAction="" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ZWS_OPMS_DOCPOST">
    <wsdl:port name="ZWS_OPMS_DOCPOST" binding="tns:ZWS_OPMS_DOCPOST">
      <soap:address location="http://sapfld.felda.felhqr.myfelda:8000/sap/bc/srt/rfc/sap/zws_opms_docpost/840/zws_opms_docpost/zws_opms_docpost" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>